{{ define "header" }}
<a href="/" style="opacity: 100%;">Machine Lines</a>
<h1>{{ .Title }}</h1>
{{ with .Params.description }}
<h2 class="description">{{ . }}</h2>
{{ end }}
{{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
{{ $dateHuman := .Date | time.Format "January 2006" }}
<div style="text-align: right">
  <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
</div>
{{ end }}

{{ define "main" }}
  <article>
  {{ .Content }}
  </article>
  <details>
    <summary>Citation</summary>
    <div class="highlight">
    <pre>@misc{innes{{ .Date.Format "2006" }},
  title = &lbrace;&lbrace;{{ replace .Title "&" "\\&" }}&rbrace;&rbrace;,
  url = &lbrace;https://mikeinnes.io{{ .RelPermalink }}&rbrace;,
  author = {Innes, Michael John},
  year = &lbrace;{{ .Date.Format "2006" }}&rbrace;,
  month = &lbrace;{{ .Date.Format "January" }}&rbrace;,
  note = {Accessed: <script>document.write(new Date().toISOString().split('T')[0])</script>}
}</pre>
    </div>
  </details>
{{ end }}

{{ define "footer" }}
<script src="https://unpkg.com/littlefoot/dist/littlefoot.js" type="application/javascript"></script>
<div style="text-align: center;"><a href="/">Home</a></div>
{{ end }}
