---
layout: common
---

<h1>{{page.title}}</h1>

{% if page.description %}
<h2 class="description">{{ page.description }}</h2>
{% endif %}

<div style="text-align: right;">
  {{ page.date | date: '%B %Y' }}
</div>

<div class="content">

  {{ content }}

</div>

<details>
  <summary>Citation</summary>
  <div class="highlight">
    <pre>@misc{innes{{ page.date | date: "%Y" }}{{ page.id | split: '/' | last | replace: '-', '' }},
  title = &lbrace;&lbrace;{{ page.title | replace: '&', '\\&' }}&rbrace;&rbrace;,
  url = &lbrace;https://mikeinnes.io{{ page.url }}&rbrace;,
  author = {Innes, Michael John},
  year = &lbrace;{{ page.date | date: "%Y" }}&rbrace;,
  month = &lbrace;{{ page.date | date: "%B" }}&rbrace;,
  note = {Accessed: <script>document.write(new Date().toISOString().split('T')[0])</script>}
}</pre>
  </div>
</details>

<div class="footer">
  <span class="home">
    <a href="{{site.url}}/">Home page</a>
  </span>
</div>
