:root {
  --padding: 25px;
  --syntax-background: #272822;
  --background: rgb(235, 235, 235);
}
html {
  height: 100%;
}

body {
  margin: 0 auto 0 auto;
  max-width: 700px;
  min-height: 100%;
  padding-top: 5px;
  padding-bottom: 50%;

  font-family: "Gill Sans", sans-serif;
  line-height: 1.8;
  font-size: 16px;
  font-weight: lighter;
}
@media only screen and (min-width: 700px) {
  body {
    background: var(--background);
  }
}
@media (min-resolution: 150dpi) {
  body {
    font-family: Merriweather,Georgia,Cambria,"Gill Sans",sans-serif;
  }
}
.content > p:last-of-type::after {
  content: " ●";
}
.bordered {
  background-color: white;
  padding-top: 25px;
  padding-bottom: 25px;
  /* padding-bottom: 50%; */
  min-height: 100%;
  border-radius: 5px;
}
.padded {
  padding-left: var(--padding);
  padding-right: var(--padding);
}

h1, h2, h3, h4 {
  font-family: Merriweather,Georgia,Cambria,"Gill Sans",sans-serif;
  margin: 0;
}
h1 {
  font-size: 35px;
  font-weight: 300;
}
h2.description {
  font-size: 16px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 5px;
  /* font-style: italic; */
}
h2 {
  font-size: 105%;
  margin-top: 2em;
  font-weight: 900;
}
h3 {
  font-size: 100%;
  margin-top: 1em;
  font-weight: normal;
  margin-bottom: -15px;
}

h2+p, h2+ul {
  margin-top: 0;
}

hr {
  height: 5px;
  background-color: var(--background);
  border: none;
  margin: 2em calc(var(--padding)*-1) 2em calc(var(--padding)*-1);
}

a {
  color: inherit;
  text-decoration: inherit;
  font-weight: normal;
  border-bottom: solid 4px rgb(240, 240, 240);
  border-radius: 5px;
}
a:hover {
  border-color: rgb(230, 230, 230);
}

a.footnote, a.reversefootnote {
  border: none;
  font-weight: inherit;
}
a.footnote:hover, a.reversefootnote:hover {
  position: relative;
  top: -1px;
}

ul.posts .date {
  float: right;
  color: hsl(0, 0%, 60%);
  font-size: 75%;
}

ul.posts li.post.popular a {
  /* font-weight: bold; */
}

ul.posts li.post.popular .link::after {
  content: " ⭐";
}

@media only screen and (max-width: 700px) {
  ul.posts .date {
    display: none;
  }
}

.desc {
  font-size: 90%;
  text-align: right;
  font-style: italic;
}

blockquote {
  font-size: 90%;
  font-style: italic;
}
blockquote em {
  font-style: normal;
}

@media (min-width: 650px) {
  .content {
    text-align: justify;
  }
  :root {
    --padding: 50px;
  }
}

.fill {
  margin: 2em calc(var(--padding)*-1) 2em calc(var(--padding)*-1);
  text-align: center;
}

.fill > img, .fill > a > img, .fill > video {
  width: 100%;
}

a.img {
  border: none;
}

.img-narrow {
  width: 100%;
  max-width: 450px;
}

.caption {
  padding: 0 50px 0 50px;
  font-size: 12px;
}

.asciicast {
  text-align: center;
}

.footnotes {
  font-size: 90%;
}

details > summary {
  cursor: pointer;
}

.footer {
  font-size: 90%;
  margin-top: 20px;
  text-align: center;
}

.footer .home {
  text-align: center;
}
.footer .next {
  text-align: right;
}

div.highlight {
  overflow: auto;
  background: var(--syntax-background);
  padding-left: var(--padding);
  padding-right: var(--padding);
  padding-top: 25px;
  padding-bottom: 25px;
  margin-left: calc(var(--padding) * -1);
  margin-right: calc(var(--padding) * -1);
  line-height: 1em;
}
div.highlight::selection, div.highlight *::selection {
  background: black;
}
code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 13px;
  line-height: 1.2;
}
pre {
  margin: 0;
}
code.highlighter-rouge {
  border-radius: 2px;
  background: var(--background);
  padding: 5px;
  font-size: 0.8em;
  color: #444444;
  position: relative;
  bottom: 1px;
}
::selection {
  background: #ffff00; /* WebKit/Blink Browsers */
}

.littlefoot {
  --button-background-color: var(--background);
  --button-active-background-color: #c6c6c6;
  --button-text-color: #fff;
  --button-padding: 0 0.6em;
  /* --button-margin: 0 0 0 0.8em; */
  --button-height: 1.4em;

  --popover-background-color: white;
  --popover-shadow: none;
  --popover-border: 3px solid var(--background);
  --popover-font-family: "Gill Sans",sans-serif;
  --popover-font-size: 0.8em;
  --popover-font-weight: lighter;
  --popover-line-height: 1.5;
  --popover-vertical-padding: 0em;
  --popover-horizontal-padding: 2em;
}
@media (min-resolution: 150dpi) {
  .littlefoot {
    --popover-font-family: Merriweather,Georgia,Cambria,"Gill Sans",sans-serif;
  }
}

.littlefoot__popover {
  opacity: 0%;
}

.littlefoot__popover.is-active {
  opacity: 100%;
}
